{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'guitar/style.css' %}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>GUITAR WEBSITE</title>
    {% endif %}
</head>
<body>

    <nav>
        <ul>
            <div class="float-left">
                <li><a href="{% url 'guitar:home' %}">Home</a></li>
                <li><a href="{% url 'guitar:songs' %}">Songs</a></li>
                <li><a href="{% url 'guitar:chords' %}">Chords</a></li>
                <li><a href="{% url 'guitar:contact' %}">Contact</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user:profile' %}">Profile</a></li>
            </div>
            <div class="float-right">
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}

                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'user:register' %}">Register</a></li>

                {% endif %}


             </div>
        </ul>
    </nav>

    {% if messages %}
        {% for message in messages %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
            </div>
        {% endfor %}
    {% endif %}

{% block content %}
{% endblock content %}

</body>
</html>