{% extends 'guitar/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'guitar/css/chords.css' %}">
    <br>
    <center>
        <h1 class="more">Chords</h1>
    </center>
    {% for chord in chords %}
        <div class="row">
            <div class="column">
                <div class="item">
                    <span class="caption">{{ chord.name }}</span>
                    <img src="{{ chord.chord_image.url }}" >
                </div>
                <div class="item">
                    <span class="caption">{{ chord.name }}</span>
                    <img src="{{ chord.chord_image.url }}" >
                </div>
                <div class="item">
                    <span class="caption">{{ chord.name }}</span>
                    <img src="{{ chord.chord_image.url }}" >
                </div>
            </div>
        </div>


{% endblock content %}