* {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

nav {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #FFF26B;
}

ul {
    margin-left: 40px;
    margin-right: 40px;
}

ul li {
    display: inline-block;
    list-style-type: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 26px;
    font-family: arial;
    color: #42284D;
    padding: 0 15px;
}

ul li a:hover {
    color: red;
}